html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b0550;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

img {
    height: 50px;
}

/*
    ### Objects
*/

.o-scoreboard-page {
    display: none;
}

.o-serve-page {
    display: block;
}

.o-winner-page {
    display: none;
}

/*
    ### Elements
*/

.c-scoreboard {
    align-items: center;
    border: 10px solid white;
    width: 900px;
    height: 300px;
}

.c-color-score {
    display: flex;
    width: 900px;
}

.c-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00938d;
    padding: 0 3rem;
    width: 674px;
    /* border: 5px solid white; */
}

.c-color-team {
    border-right: 10px solid white;
}

.c-color-team-1 {
    width: 140px;
    height: 145px;
    border-bottom: 5px solid white;
    background-color: red;
}

.c-color-team-2 {
    width: 140px;
    height: 145px;
    border-top: 5px solid white;
    background-color: blue;
}

.c-points {
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.c-points-bg {
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: #fedf2d;
    color: #1b0550;
    align-items: center;
    justify-content: center;
}

.c-sponsors {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 920px;
}

.c-sponsor-board {
    font-size: 1.25rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    color: #1b0550;
    background-color: rgb(255, 255, 255);
}

.o-set1-1 {
    display: block;
    color: white;
}

.o-set1-2 {
    display: block;
    color: white;
}

.o-set2-1 {
    display: none;
    color: white;
}

.o-set2-2 {
    display: none;
    color: white;
}

.o-set3-2 {
    display: none;
    color: white;
}

.o-set3-1 {
    display: none;
    color: white;
}

.c-serve-1 {
    height: 30px;
    width: 30px;
    background-color: #fedf2d;
    border-radius: 100%;
    visibility: hidden;
}

.c-serve-2 {
    height: 30px;
    width: 30px;
    background-color: #fedf2d;
    border-radius: 100%;
    visibility: hidden;
}

.c-team-serve {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.c-loader {
    border: 3rem solid #f3f3f3; /* Light grey */
    border-top: 3rem solid #00938d;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-loading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.c-loading h1 {
    font-size: 6rem;
    margin-bottom: 4rem;
}
.c-span--on {
    color: #fedf2d;
}

.c-span--serve {
    color: #fedf2d;
    font-size: 5rem;
    font-weight: bold;
}
.c-serve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.c-serve h1{
    font-size: 5rem;
    width: 59rem;
}

.c-teambtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-teambtn p {
    font-size: 5rem;
    font-weight: bold;
}

.c-teambtn-svg{
    width: 13rem;
    height: 13rem;
}

.c-winner--title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 13rem;
    background-color: #2d3cfe;
    border-radius: 3rem;
    border: 0.5rem solid white;
    margin-bottom: 4rem;
}

.c-winner--title h1 {
    font-size: 5rem;
}

.c-overview {
    display: flex;
    width: 75rem;
    align-items: center;
    justify-content: space-between;
}

.c-logo {
    width: 22rem;
    height: 22rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
}

.c-points--winner {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}
